/* ============================================================================
 * Copyright (c) 2026 Ping Identity Corporation. All rights reserved.
 *
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.
 * ========================================================================== */

import React from 'react';
import TextCollector from './collectors/text';
import PasswordCollector from './collectors/password';
import SubmitButton from './collectors/submit-button';
import FlowButton from './collectors/flow-button';
import SingleSelect from './collectors/single-select';
import MultiSelect from './collectors/multi-select';
import ReadOnly from './collectors/read-only';
import PhoneNumber from './collectors/phone-number';
import DeviceRegistration from './collectors/device-registration';
import DeviceAuthentication from './collectors/device-authentication';
import SocialLoginButton from './collectors/social-login-button';
import Protect from './collectors/protect';
import FidoRegistration from './collectors/fido-registration';
import FidoAuthentication from './collectors/fido-authentication';

/**
 * Maps a DaVinci collector to the appropriate React component.
 *
 * @param {object}   collector    - The collector object from the SDK.
 * @param {object}   davinciClient - The DaVinci client ref (clientRef.current).
 * @param {Function} onNext       - Callback to submit the current node.
 * @param {Function} onFlow       - Callback to navigate to a different flow.
 * @returns {React.ReactElement|null}
 */
export function mapCollectorToComponent(collector, davinciClient, onNext, onFlow) {
  switch (collector.type) {
    case 'TextCollector':
      return (
        <TextCollector
          key={collector.id}
          collector={collector}
          client={davinciClient}
        />
      );

    case 'PasswordCollector':
      return (
        <PasswordCollector
          key={collector.id}
          collector={collector}
          client={davinciClient}
        />
      );

    case 'SubmitCollector':
      return (
        <SubmitButton
          key={collector.id}
          collector={collector}
          onNext={onNext}
        />
      );

    case 'FlowCollector':
      return (
        <FlowButton
          key={collector.id}
          collector={collector}
          onFlow={onFlow}
        />
      );

    case 'SingleSelectCollector':
      return (
        <SingleSelect
          key={collector.id}
          collector={collector}
          client={davinciClient}
        />
      );

    case 'MultiSelectCollector':
      return (
        <MultiSelect
          key={collector.id}
          collector={collector}
          client={davinciClient}
        />
      );

    case 'ReadOnlyCollector':
      return (
        <ReadOnly
          key={collector.id}
          collector={collector}
        />
      );

    case 'PhoneNumberCollector':
      return (
        <PhoneNumber
          key={collector.id}
          collector={collector}
          client={davinciClient}
        />
      );

    case 'DeviceRegistrationCollector':
      return (
        <DeviceRegistration
          key={collector.id}
          collector={collector}
          client={davinciClient}
          onNext={onNext}
        />
      );

    case 'DeviceAuthenticationCollector':
      return (
        <DeviceAuthentication
          key={collector.id}
          collector={collector}
          client={davinciClient}
          onNext={onNext}
        />
      );

    case 'IdpCollector':
      return (
        <SocialLoginButton
          key={collector.id}
          collector={collector}
        />
      );

    case 'ProtectCollector':
      return (
        <Protect
          key={collector.id}
          collector={collector}
          client={davinciClient}
          onNext={onNext}
        />
      );

    case 'FidoRegistrationCollector':
      return (
        <FidoRegistration
          key={collector.id}
          collector={collector}
          client={davinciClient}
          onNext={onNext}
        />
      );

    case 'FidoAuthenticationCollector':
      return (
        <FidoAuthentication
          key={collector.id}
          collector={collector}
          client={davinciClient}
          onNext={onNext}
        />
      );

    default:
      console.warn(`Unsupported collector type: ${collector.type}`);
      return null;
  }
}

/**
 * Renders all collectors for the current DaVinci node.
 */
export default function DaVinciForm({ collectors, davinciClient, onNext, onFlow }) {
  if (!collectors || collectors.length === 0) return null;

  return (
    <form
      onSubmit={(e) => {
        e.preventDefault();
        onNext();
      }}
    >
      {collectors.map((collector) =>
        mapCollectorToComponent(collector, davinciClient, onNext, onFlow),
      )}
    </form>
  );
}
