VITE_PING_WELLKNOWN=PLACEHOLDER_WELLKNOWN
VITE_PING_CLIENT_ID=PLACEHOLDER_CLIENT_ID
VITE_PING_REDIRECT_URI=PLACEHOLDER_REDIRECT_URI
VITE_PING_SCOPE=PLACEHOLDER_SCOPE
# VITE_PING_ACR_VALUES=PLACEHOLDER_ACR_VALUES
