/*
 *
 *
 * SubmitButtonView.swift.template
 *
 * Copyright (c) 2026 Ping Identity Corporation. All rights reserved.
 * This software may be modified and distributed under the terms
 * of the MIT license. See the LICENSE file for details.
 */

import SwiftUI
import PingDavinci

/// Renders a submit button for a SubmitCollector.
/// Triggers validation before advancing the flow.
struct SubmitButtonView: View {
    let collector: SubmitCollector
    let onNext: (Bool) -> Void
    @EnvironmentObject var validationVM: ValidationViewModel

    var body: some View {
        Button(action: {
            collector.value = collector.label
            validationVM.shouldValidate = true
            onNext(true)
        }) {
            Text(collector.label)
                .frame(maxWidth: .infinity)
        }
        .buttonStyle(.borderedProminent)
        .padding(.top, 4)
    }
}
